.navbar{
    height: 150px;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 9999;
    position: sticky;
    background:linear-gradient(135deg,rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border: solid 1px rgba(222, 218, 218, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}


.scrolled {
    background:linear-gradient(135deg,rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: solid 1px rgba(222, 218, 218, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    border-radius: 0;
  }


.generacion{
    font-size: 35px;
}

.tech{
    color: #00fff5;
}
.nav_items{
    display: flex;
}


.btnNav{
    position: relative;
    display:flex;
    align-items: center;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 12px;
    overflow: hidden;
    transition: 0.5s;
    font-size: 12.5px;
    margin: 10px;
    border-radius: 5px;
}

.btnNav:hover{
   color: white;
   background:  #47fff94c; 
   box-shadow: 0 0 10px #19fff6, 0 0 40px #19fff6, 0 0 80px #19fff6;
   transition-delay: 1s;
   border: none;
   border-radius: none;
}


.btnNav span{
    position: absolute;
    display: block;
}

.btnNav span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #19fff6);
}

.btnNav:hover span:nth-child(1){
    left: 100%;
    transition: 1s;

}

.btnNav span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #19fff6);
}

.btnNav:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;

}

.btnNav span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #19fff6);
}

.logo {
    width:200px ;
}




.nav_items a{
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    position: relative;
    text-decoration: none;
    transition: 0.5s;
}

.nav_items a:hover{
    background:  #47fff94c; 
    box-shadow: 0 0 10px #19fff6, 0 0 40px #19fff6, 0 0 80px #19fff6;
}

.nav_toggle{
    display: none;
}

@media(max-width: 1200px){

    .navbar{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .nav_items{
        position: absolute;
        top: 150px;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 350px;
        transform: translateX(-100%);
        transition: 0.3s ease all;
        background:linear-gradient(135deg,rgba(55, 55, 55, 0.599), rgba(79, 79, 79, 0.661));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: solid 1px rgba(222, 218, 218, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37); 
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }


    .nav_items.open{
        transform: translateX(0) !important;
    }

    .nav_toggle{
        display: flex !important;
        flex-direction: column;
        margin: 15px;
        cursor: pointer;
    }

    .nav_toggle span{
        width: 30px;
        height: 4px;
        background:white;
        margin-bottom: 5px;
        border-radius: 2px;
        transform-origin:5px 0px;
        transition: all 0.2s linear;
    }

    .nav_toggle.open > span{
        transform: rotate(45deg) translate(0px, 0px);
    }

    .nav_toggle.open > span:nth-child(2){
        display: none;
    }

    .nav_toggle.open > span:nth-child(3){
        transform: rotate(-45deg) translate(-5px, 1px);
    }
}

@media(max-width:500px){
    .nav_toggle{
        margin-right: 10px;
    }
    
}