.proyectos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /* background:linear-gradient(135deg,rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 40px;
    border: solid 1px rgba(222, 218, 218, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37); */
    width: 90%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    
}

.gt_container{
    margin: 50px;
    border-radius: 40px;
    padding: 10px;
    border: 1px solid rgba(53, 53, 53, 0.217);
    transition: 0.1s;
    background:linear-gradient(135deg,rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 40px;
    border: solid 1px rgba(222, 218, 218, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}

.gt_container:hover{
    background:linear-gradient(135deg,rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 40px;
    border: solid 1px rgba(222, 218, 218, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}

.swiper_slide{
    padding: 40px;
}

.swiper_container{
    width: 300px;
}

.gt{
    width: 500px;
    margin-bottom: 40px;

}

.dropItem{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    margin: auto;
}

.title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 2px;
    background: linear-gradient(135deg, white, lightgray, gray, rgb(80, 80, 80), white, lightgray, gray, rgb(80, 80, 80));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    animation: gradient 8s ease-in-out infinite;
}

.titleSec{
    text-align:center;
    font-size:40px;
    margin-top: 7%; 
    margin-bottom:5%;
}

@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

@media(max-width: 1383px){
    .gt{
        margin: auto;
        padding: 20px;
    }
    .proyectos{
        display: none;
    }
}

@media(max-width: 714px){
    .titleSec{
        font-size: 22px;
    }
}

@media(max-width:453px){
    .title{
        font-size: 20px;
    }
}